.home>.homeLanding {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 89vh;
    padding-top: 11vh;
}

.home>.homeLanding>.home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
}

.home>.homeLanding>.home-left>.fade>.homeButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.home>.homeLanding>.home-left>.fade>.homeButtons>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: rgba(110, 110, 110, 0.219);
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid white;
}

.home>.homeLanding>.home-left>.fade>.homeButtons>.cvbtn>a {
    text-decoration: none;
    color: #fff;
}

.home>.homeLanding>.home-left>.fade>.homeButtons>.aboutMeBtn {
    background-color: #ce0aff;
}

.home>.homeLanding>.home-left>.fade>.homeButtons>.aboutMeBtn>a {
    text-decoration: none;
    color: #fff;
}

.home>.homeLanding>.home-left>.fade>.homeButtons>.aboutMeBtn:hover {
    background-color: rgba(250, 4, 250, 0.319);
    transform: scale(1.1);
}

.home>.homeLanding>.home-left>.fade>.homeButtons>button:hover {
    background-color: rgba(110, 110, 110, 0.319);
    transform: scale(1.1);
}

.home>.homeLanding>.home-left>.fade>h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 1rem;
}

.home>.homeLanding>.home-left>.fade>h1>.home-left__name--color {
    color: #ce0aff;
}


.home>.homeLanding>.home-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 2rem;
}

.home>.homeLanding>.home-right>.fade>img {
    width: 35rem;
    border-radius: 20%;
}

.home>.homeAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 89vh;
    padding-top: 11vh;
    margin-bottom: 2vh;
}

.home>.homeAbout>.homeAbout__title {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 1rem;
}



@media screen and (max-width: 1030px) {
    .home>.homeLanding>.home-left>.fade>h1 {
        font-size: 2.5rem;
    }

    .home>.homeLanding>.home-left>.fade>h2 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 900px) {
    .home>.homeLanding>.home-left>.fade>h1 {
        font-size: 2rem;
    }

    .home>.homeLanding>.home-left>.fade>h2 {
        font-size: 1.2rem;
    }

    .home>.homeLanding>.home-right>.fade>img {
        width: 25rem;
    }
}

@media screen and (max-width: 768px) {
    .home>.homeLanding {
        flex-direction: column-reverse;
    }

    .home>.homeLanding>.home-left {
        width: 100vw;
        height: 50vh;
        margin-top: -9vh;
    }

    .home>.homeLanding>.home-right{
        width: 100vw;
        height: 50vh;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .home>.homeLanding>.home-right>.fade>img {
        width: 20rem;
    }

    .home>.homeLanding>.home-left>.fade>h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .home>.homeLanding>.home-left>.fade>h2 {
        font-size: 1.5rem;
    }

    .home>.homeLanding>.home-left>.fade>.homeButtons {
        margin-bottom: 0;
        margin-top: 0;
    }

}

@media screen and (max-width: 424px) {
    .home>.homeLanding>.home-right>.fade>img {
        width: 20rem;
    }

    .home>.homeLanding>.home-left>.fade>h1 {
        font-size: 2rem;
    }

    .home>.homeLanding>.home-left>.fade>h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 320px) {
    .home>.homeLanding>.home-right>.fade>img {
        width: 18rem;
    }

    .home>.homeLanding>.home-left {
        margin-top: -9vh;
    }

    .home>.homeLanding>.home-left>.fade>h1 {
        font-size: 1.8rem;
    }

    .home>.homeLanding>.home-left>.fade>h2 {
        font-size: 1rem;
    }

    .home>.homeLanding>.home-left>.fade>.homeButtons>button {
        width: 8rem;
        height: 2.5rem;
        font-size: 1rem;
    }
    
}